<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{{ PRODUCT_NAME }}}</title>
	<style>
		html,
		body {
			background: {{{ BACKGROUND || '#000' }}};
			width: 100%;
			height: 100%;
			overflow: visible;
			padding: 0;
			margin: 0;
		}
		/* The side navigation menu */
		.sidebar {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		  }
		  
		  .sidebar a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		  }
		  
		  .sidebar a:hover {
			color: #f1f1f1;
		  }
		  
		  .sidebar .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		  }
		  
		  .openbtn {
			bottom: 0;
			position: absolute;
			z-index: 100;
			font-size: 25px;
			cursor: pointer;
			background-color: #111;
			color: white;
			padding: 10px 15px;
			border: none;
		  }
		  
		  .openbtn:hover {
			background-color: #444;
		  }
		  
		  #main {
			transition: margin-left .5s;
		  }
		  
		  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
		  @media screen and (max-height: 450px) {
			.sidebar {padding-top: 15px;}
			.sidebar a {font-size: 18px;}
		  }

		div#gameContainer {
			background: transparent !important;
			position: absolute;
		}

		div#gameContainer canvas {
			position: relative;
		}

		div#gameContainer canvas[data-pixel-art="true"] {
			position: relative;
			image-rendering: optimizeSpeed;
			image-rendering: -webkit-crisp-edges;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-crisp-edges;
			image-rendering: crisp-edges;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: optimize-contrast;
			image-rendering: pixelated;
			-ms-interpolation-mode: nearest-neighbor;
		}
		.modalDialog {
	overflow: scroll;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 80vw;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('/TemplateData/fullscreen-button.png') no-repeat center;
    background-size: contain;
}

	</style>
</head>

<div id="openModal" class="modalDialog">
	<div> <a href="#close" title="Close" class="close">X</a>
		<h2>Impressum</h2>
		<p>Diese Seite dient lediglich zu Demonstrationszwecken eines Spiels, welches im Rahmen eines Projektes an der
			Universität Siegen von der Didaktik der Informatik entwickelt wird.</p>

		<br>
		<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
		<p>Sven Jacobs<br />
			Sankt Augustiner Strasse 13<br />
			53225 Bonn</p>

		<h2>Kontakt</h2>
		<p>Telefon: 0271-22298937<br />
			E-Mail: pacer@svenjacobs.de</p>

		<h3>Haftung f&uuml;r Inhalte</h3>
		<p>Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten
			nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter
			jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder
			nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.</p>
		<p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
			bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der
			Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden
			Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
		<h3>Haftung f&uuml;r Links</h3>
		<p>Unser Angebot enth&auml;lt Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
			Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die
			Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
			verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e
			&uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
		<p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
			Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
			umgehend entfernen.</p>
		<h3>Urheberrecht</h3>
		<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
			Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung
			au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen
			Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht
			kommerziellen Gebrauch gestattet.</p>
		<p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
			beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
			Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
			Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
		<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
	</div>
</div>


<div id="mySidebar" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	<a href="#openModal">Impressum</a>
	<a href="https://pacer.xteachr.de/pacer.apk" target="_blank">Android-APK</a>
	<a href="http://umfrage.xteachr.de/index.php/517172?lang=de" target="_blank">Fragebogen</a>
</div>

<div id="main">
	<button class="openbtn" onclick="openNav()">☰</button>
	<div  class="content" id="gameContainer">
		<canvas id="unity-canvas" data-pixel-art="{{{ OPTIMIZE_FOR_PIXEL_ART }}}"></canvas>
		<script src="Build/{{{ LOADER_FILENAME }}}"></script>
		<script>
			var canvas = document.querySelector("#unity-canvas");
			var config = {
				dataUrl: "Build/{{{ DATA_FILENAME }}}",
				frameworkUrl: "Build/{{{ FRAMEWORK_FILENAME }}}",
				codeUrl: "Build/{{{ CODE_FILENAME }}}",
#if MEMORY_FILENAME
				memoryUrl: "Build/{{{ MEMORY_FILENAME }}}",
#endif
#if SYMBOLS_FILENAME
				symbolsUrl: "Build/{{{ SYMBOLS_FILENAME }}}",
#endif
				streamingAssetsUrl: "StreamingAssets",
				companyName: "{{{ COMPANY_NAME }}}",
				productName: "{{{ PRODUCT_NAME }}}",
				productVersion: "{{{ PRODUCT_VERSION }}}",
			};
			var scaleToFit;
			try {
				scaleToFit = !!JSON.parse("{{{ SCALE_TO_FIT }}}");
			} catch (e) {
				scaleToFit = true;
			}
			function progressHandler(progress) {
				var percent = progress * 100 + '%';
				canvas.style.background = 'linear-gradient(to right, white, white ' + percent + ', transparent ' + percent + ', transparent) no-repeat center';
				canvas.style.backgroundSize = '100% 1rem';
			}
			function onResize() {
				var container = canvas.parentElement;
				var w;
				var h;

				if (scaleToFit) {
					w = window.innerWidth;
					h = window.innerHeight;

					var r = {{{ HEIGHT }}} / {{{ WIDTH }}};

					if (w * r > window.innerHeight) {
						w = Math.min(w, Math.ceil(h / r));
					}
					h = Math.floor(w * r);
				} else {
					w = {{{ WIDTH }}};
					h = {{{ HEIGHT }}};
				}

				container.style.width = canvas.style.width = w + "px";
				container.style.height = canvas.style.height = h + "px";
				container.style.top = Math.floor((window.innerHeight - h) / 2) + "px";
				container.style.left = Math.floor((window.innerWidth - w) / 2) + "px";
			}
			createUnityInstance(canvas, config, progressHandler).then(function (unityInstance) {
				canvas = unityInstance.Module.canvas;
				onResize();
				fullscreenButton.onclick = () => {
					//unityInstance.SetFullscreen(1);
					canvas.requestFullscreen();
				  };
			})
			
			window.addEventListener('resize', onResize);
			onResize();
		</script>
	</div>
</div>
<!---<div id="unity-fullscreen-button"></div>   Using fullscreen-method from origin iframe sites, because it supports mobile keyboard import -->

<script>
	const fullscreenButton = document.querySelector("#unity-fullscreen-button");
	const canFullscreen = (function() {
        for (const key of [
            'exitFullscreen',
            'webkitExitFullscreen',
            'webkitCancelFullScreen',
            'mozCancelFullScreen',
            'msExitFullscreen',
          ]) {
          if (key in document) {
            return true;
          }
        }
        return false;
      }());

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        container.className = "unity-mobile";
        config.devicePixelRatio = 1;
      }

	function openNav() {
	  document.getElementById("mySidebar").style.width = "250px";
	  document.getElementById("main").style.marginLeft = "250px";
	}
	
	function closeNav() {
	  document.getElementById("mySidebar").style.width = "0";
	  document.getElementById("main").style.marginLeft= "0";
	}
	</script>
</html>
